 /*PROJECTS OVERVIEW*/
 .projects-overview{
    padding-top: 10vh;
    margin: 1rem;
    width: 99vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .single-project-overview{
    width: 30vw;
    height: auto;
  }
  .single-project-overview-image{
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .single-project-overview-image img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .single-project-overview-image img:hover,.single-project-overview-image img:focus {
    -webkit-transform: scale(1.03);
	transform: scale(1.03);
  }
  
  @media screen and (max-width: 900px) {
    .projects-overview{
        padding-top: 10vh;
        margin: 1rem;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .single-project-overview{
        width: 100%;
        height: auto;
    }

    .single-project-overview-image{
        display: flex;
        flex-direction: column;
        width:100%;
      }
  }
