
/* side bar */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.wrapper{
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.wrapper .sidebar{
  width: 15vw;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(255, 255, 255, 0.2);
  padding: 2vw 0vw;
  position: fixed;
  /* background: #ffffff; */
  border-right: 1px solid rgba(0,0,0,0.05);
}

.wrapper .sidebar-more{
    display: none;
}

.wrapper .sidebar .sidebar-main{
    /* border: #000000 1px solid; */
    width:100%;
    height: auto;
}
.wrapper .sidebar-more .sidebar-main{
    display: none;
}

.wrapper .sidebar h2{
  font-family: 'Futura';
  font-style: normal;
  color: #000000;

  padding-left:1vw;
  margin-bottom: 2vh;
}
.wrapper .more-button{
    display: none;
    width:1vw;
    height: auto;
}

.wrapper .more-button img{
    /* display: none; */
    width:100%;
    height: auto;
}

.wrapper .sidebar ul{
    list-style:none;
    padding-left:1vw;
    
    /* border-top: 1px solid rgba(0,0,0,0.05); */
}

.wrapper .sidebar ul h5{
    color: rgb(163, 158, 237);
    padding-top:2px;
    margin: 0;
    
}

.wrapper .sidebar ul li{
  padding: 1px 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Futura';
  font-style: italic;
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

/* .wrapper .sidebar ul li:hover{
  background-color: #594f8d;
} */
    
.wrapper .sidebar ul li:hover a{
    color: rgb(163, 158, 237);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 82vw;
  height: auto;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}


.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}


.wrapper .main_content .info{
    width: 100%;
    height: 60vh;
    /* border: #000000 1px solid; */
    border-bottom:1px solid rgba(0,0,0,0.05); 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* background-image: url("../image/dear-son/dear-son-cover.png"); */
    background-color: #ffffff;
    background-size: cover;
    margin-bottom: 10vh;
}
.wrapper .main_content .info h1{
    font-size: 3rem;
    color: #000000;
}
.wrapper .main_content .info p{
    font-size: 1rem;
    color: #000000;
}

/* 这个没懂是干嘛的 */
.wrapper .main_content .info div{
  margin-bottom: 0px;
}

/* side bar end here */

.section{
    width: 100%;
    height: auto;
    margin-bottom:1rem;
   
}
.section-flex-column{
    width: 100%;
    height: auto;
    margin-bottom:3rem;
    display: flex;
    flex-direction: column;
}

.project-title-bg-image{
    width: 100%;
    height: auto;
}

.project-name{
    margin-left: 3rem;
    /* margin-bottom: 0; */
    /* padding-top:2rem; */
}

.project-name h1{
    font-family: 'futura';
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    color: #fff;
}

.project-description{
    margin-left: 3rem;
}

.project-description p{
    font-size: 19px;
    width:60%;
    height: auto;
    padding-top: 0;
    color: #fff;
}
.project-description-bullet-points{
    margin-left: 3rem;
}

.project-description-bullet-points p{
    /* margin-left: 3rem; */
    font-size: 14px;
    width:90%;
    height: auto;
    padding-top: 0;
    color: #fff;
    line-height: 100%;
}

.paragraph-centered{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.paragraph-centered p{
    width: 80%;
    height: auto;
    font-family: 'Futura';
    margin-bottom: 20vh;

}
/* .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.image-column{
    width: 84vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 3rem; */
}


.image-column img{
    width: 100%;
    height: auto;
}

.image-column-divided-by-2{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-column-divided-by-2 img{
    width: 100%;
    height: auto;
}

.image-centered{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.image-centered img{
    width: 90%;
    height: auto;
    margin: 2rem;
    margin-top:3rem;
}

.headline{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;
}

.headline h1{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    font-style: oblique;
    /* margin-bottom: 10vh; */

}
.headline-flex-start{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    
}

.headline-flex-start h1{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    font-style: oblique;
    margin-left: 3rem;
    margin-top: 3rem;
    /* margin-bottom: 10vh; */
}


.sub-headline h3{
    font-family: 'Futura';
    font-style: oblique;
    margin-left: 3rem;
    margin-top: 3rem;
    /* margin-bottom: 10vh; */
}

.paragraph-flex-start{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.paragraph-flex-start p{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    margin-bottom: 10vh;
    margin-left: 3rem;


}

.section-divided-by-3{
    width: 82vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin:3rem;
}


.section-divided-by-3-elements{
    width: 26vw;
    height: auto;
    padding-right: 0.5rem;
      /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.section-divided-by-3-elements img{
    width: 100%;
    height: auto;
}
.section-divided-by-3-elements p{
    width: 100%;
    height: auto;
}
.section-divided-by-3-elements-same-height{
    width: auto;
    height: 44vh;
    padding-right: 0.5rem;
      /* display: flex; */
    
    flex-direction: column;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.section-divided-by-3-elements-same-height img{
    width: auto;
    height: 100%;
}
.section-divided-by-3-elements-same-height p{
    width: auto;
    height: 100%;
}

.section-divided-by-3-elements-same-height-1{
    width: auto;
    height: 33vh;
    padding-right: 0.5rem;
      /* display: flex; */
    
    flex-direction: column;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.section-divided-by-3-elements-same-height-1 img{
    width: auto;
    height: 100%;
}
.section-divided-by-3-elements-same-height-1 p{
    width: auto;
    height: 100%;
}

.section-divided-by-2-text-image{
    width: 82vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 3rem; */
}

.section-divided-by-2-elements-40-percent{
    width:26vw;
    height:auto;
    display:flex;
    flex-direction: column;
}

.section-divided-by-2-elements-40-percent h1{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    font-style: oblique;

}
.section-divided-by-2-elements-40-percent p{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    /* font-style: oblique; */
}
.section-divided-by-2-elements-40-percent img{
    width: 100%;
    height: auto;
   
}

.section-divided-by-2-elements-50-percent{
    width:36vw;
    height:auto;
    display:flex;
    flex-direction: column;
}
.section-divided-by-2-elements-50-percent h3{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    font-style: oblique;
}

.section-divided-by-2-elements-50-percent img{
    width: 100%;
    height: auto;
}

.section-divided-by-2-elements-60-percent{
    width:48vw;
    height:auto;
    
}
.section-divided-by-2-elements-60-percent h1{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    font-style: oblique;
}

.section-divided-by-2-elements-60-percent p{
    width: 100%;
    height: auto;
    font-family: 'Futura';
    margin-left: 3rem;
    /* font-style: oblique; */
}

.section-divided-by-2-elements-60-percent img{
    width: 100%;
    height: auto;
    margin-left: 3rem;
}




@media screen and (max-width: 900px) {
    /* *{
        border: #000000 1px solid;
    } */
    .wrapper{
        display: flex;
        flex-direction: row;
        /* position: relative; */
      }
    .wrapper .sidebar{
        width: 98vw;
        height: 10vh;
        top: 0;
        background:rgba(255, 255, 255, 0.2);
        padding: 1vw;
        /* padding-bottom: 2; */
        position: fixed;
        /* background: #ffffff; */
        border-right: 1px solid rgba(0,0,0,0.05);
    }

    .wrapper .sidebar-more{
        display: flex;
        flex-direction: column;

        width: 98vw;
        height: 10vh;
        top: 0;
        background:rgba(255, 255, 255, 0.2);
        padding: 1vw;
        /* padding-bottom: 2; */
        position: fixed;
        /* background: #ffffff; */
        border-right: 1px solid rgba(0,0,0,0.05);
    }

    .wrapper .sidebar-more .sidebar-more-main .sidebar-more-main-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        height: auto;
    }
    .wrapper .sidebar-more .sidebar-more-main{
        display: flex;
        /* border: #000000 1px solid; */
        width:100%;
        height: auto;
        justify-content: space-between;
    }

    .wrapper .sidebar-more ul{
        list-style:none;
        padding-left:1vw;
    }

    .wrapper .sidebar-more-main h2{
        font-family: 'Futura';
        font-style: normal;
        color: #000000;
      
        padding-left: 1vw;
        margin-bottom: 2vh;
      }
      .wrapper .sidebar-more-main p{
        font-family: 'Futura';
        font-style: normal;
        color: #000000;
        font-size: 1rem;
      
        padding-left:2vw;
        padding-right:1vw;
        margin-top: 3vh;
      }
      .wrapper .sidebar-more .more-button{
          display: none;
          width:1vw;
          height: auto;
      }
      
      .wrapper .sidebar-more .more-button img{
          /* display: none; */
          width:100%;
          height: auto;
      }
      
      .wrapper .sidebar-more ul{
          list-style:none;
          padding-left:1vw;
          
          /* border-top: 1px solid rgba(0,0,0,0.05); */
      }
      
      .wrapper .sidebar-more ul h5{
          color: rgb(163, 158, 237);
          padding-top:2px;
          margin: 0;
          
      }
      
      .wrapper .sidebar-more ul li{
        padding: 1px 0px;
        color: #000000;
        font-size: 14px;
        font-family: 'Futura';
        font-style: italic;
      }    
      
      .wrapper .sidebar-more ul li a{
        color: #000000;
        display: block;
      }
      
      .wrapper .sidebar-more ul li a .fas{
        width: 25px;
      }
      
      /* .wrapper .sidebar ul li:hover{
        background-color: #594f8d;
      } */
          
      .wrapper .sidebar-more ul li:hover a{
          color: rgb(163, 158, 237);
          text-decoration: none;
          transition: background-color 0.5s ease-out;
      }












    .wrapper .sidebar .sidebar-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wrapper .more-button{
        /* border: #000000 solid 1px; */
        display:flex;
        width:1.5rem;
        height: 1.5rem;
        margin-top: 1.25rem;
    }
    
    .wrapper .more-button img{
        /* display: none; */
        width:100%;
        height: 100%;
    }
    .wrapper .sidebar h2{
        width: 90%;
        height: auto;
        font-family: 'Futura';
        font-style: normal;
        color: #000000;
  /* text-transform: uppercase; */
  /* text-align: center; */
        padding-left:1vw;
        margin-bottom: 2vh;
      }

      .wrapper .sidebar ul{
        display: none;
      }
      
      
      .wrapper .sidebar ul h5{
          color: rgb(163, 158, 237);
          padding-top:2px;
          margin: 0;
          
      }
      
      .wrapper .sidebar ul li{
        padding: 1px 0px;
        color: #000000;
        font-size: 14px;
        font-family: 'Futura';
        font-style: italic;
      }

    .wrapper .main_content{
        width: 98vw;
        height: auto;
        margin-left: 0;
      }
      
      /* .wrapper .main_content .header{
        padding: 20px;
        background: #fff;
        color: #717171;
        border-bottom: 1px solid #e0e4e8;
      }
       */
      
      .wrapper .main_content .info{
          width: 90%;
          height: auto;
          /* border: #000000 1px solid; */
          border-bottom:1px solid rgba(0,0,0,0.05); 
          display: flex;
          flex-direction: column;
          justify-content:flex-start;
          /* background-image: url("../image/dear-son/dear-son-cover.png"); */
          background-color: #ffffff;
          background-size: cover;
          margin-bottom: 10vh; 
      }
      .wrapper .main_content .info h1{
          font-size: 2rem;
          color: #000000;
      }
      .wrapper .main_content .info p{
          font-size: 0.7rem;
          color: #000000;
      }



      .project-name{
        margin: 3rem;
        margin-bottom: 0;
        padding-top:2rem;
        margin-left: 1rem;
      }
        
        .project-name h1{
            font-family: 'futura';
            font-size: xx-large;
            font-weight: 900;
            font-style: italic;
            color: #fff;
        }
    
      .project-description{
        margin-left: 1rem;
      }

      .project-description p{
        width:90%;
        height: auto;
      
    }
    .project-description-bullet-points{
        margin-left: 1rem;
    }
    
    .project-description-bullet-points p{
        font-size: 14px;
        width:90%;
        height: auto;
        padding-top: 0;
        line-height: 100%;
    }

    .image-column {
        flex-direction: column; /* Change to a column layout on smaller screens */
    }
    .image-column-divided-by-2{
        width:90vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
       

    }
    .image-column-divided-by-2 img{
        width:100%;
        height: auto;
        margin-bottom:1rem;

    }


    .headline-flex-start{
        /* width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; */
        width: 90vw;
        height: auto;
        /* padding-right: 0.5rem; */
          /* display: flex; */
        
        flex-direction: column;
        justify-content: flex-start;
        /* flex-direction: column; */
        /* margin-left:4vw;
        margin-right:4vw; */
        
    }
    
    .headline-flex-start h1{
        width: 100%;
        height: auto;
        font-family: 'Futura';
        font-style: oblique;
        font-size: 23px;
        margin-left: 1rem;
        margin-top: 3rem;
        /* margin-bottom: 10vh; */
    }

    .sub-headline h3{
        font-family: 'Futura';
        font-style: italic;
        margin-left: 1rem;
        font-size: 16px;
        /* margin-top: 2rem; */
        /* margin-bottom: 10vh; */
    }
    
    .paragraph-flex-start{
        /* width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; */
        width: 100vw;
        height: auto;
        /* padding-right: 0.5rem; */
          /* display: flex; */
        
        flex-direction: column;
        justify-content: flex-start;
        /* flex-direction: column; */
        /* margin-left:1vw; */
        /* margin-right:4vw; */
    }
    
    .paragraph-flex-start p{
        width: 90%;
        height: auto;
        font-family: 'Futura';
        margin-bottom: 10vh;
        margin-left: 1rem;
    
    
    }
    .section{
        width: 100%;
        height: auto;
        margin-bottom:0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-divided-by-3{
        width:90vw;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left:4vw;
        margin-right:4vw;
        
    }
    .section-divided-by-3-elements{
        width: 90vw;
        height: auto;
        padding-right: 0.5rem;
          /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        /* flex-direction: column; */
    }
    
    .section-divided-by-3-elements img{
        width: 100%;
        height: auto;
    }
    .section-divided-by-3-elements p{
        width: 100%;
        height: auto;
    }

    .section-divided-by-3-elements-same-height{
        width: 90vw;
        height: auto;
        padding-right: 0.5rem;
          /* display: flex; */
        
        flex-direction: column;
        justify-content: flex-start;
        /* flex-direction: column; */
        /* margin-left:4vw; */
        margin-right:4vw;
    }
    
    .section-divided-by-3-elements-same-height img{
        width: 100%;
        height: auto;
    }
    .section-divided-by-3-elements-same-height p{
        width: 100%;
        height: auto;
    }
    
    .section-divided-by-3-elements-same-height-1{
        width: 100%;
        height: auto;
        /* padding-right: 0.5rem; */
          /* display: flex; */
        
        flex-direction: column;
        justify-content: center;
        /* flex-direction: column; */
    }
    
    .section-divided-by-3-elements-same-height-1 img{
        width: 100%;
        height: auto;
    }
    .section-divided-by-3-elements-same-height-1 p{
        width: 100%;
        height: auto;
    }

    .section-divided-by-2-text-image{
        width: 98vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* margin: 3rem; */
    }
    
    .section-divided-by-2-elements-40-percent{
        width:90vw;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left:4vw;
        margin-right:4vw;
    }

    .section-divided-by-2-elements-40-percent h1{
        width: 100%;
        height: auto;
        font-family: 'Futura';
        font-style: oblique;
        margin-left:4vw;

    }
    .section-divided-by-2-elements-40-percent p{
        width: 100%;
        height: auto;
        font-family: 'Futura';
        /* font-style: oblique; */
    }
    .section-divided-by-2-elements-40-percent img{
        width: 100%;
        height: auto;
    
    }

    .section-divided-by-2-elements-50-percent{
        width:90vw;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left:4vw;
        margin-right:4vw;

    }
    .section-divided-by-2-elements-50-percent h3{
        width: 100%;
        height: auto;
        font-family: 'Futura';
        font-style: oblique;
    }
    
    .section-divided-by-2-elements-50-percent img{
        width: 100%;
        height: auto;
    }


    .section-divided-by-2-elements-60-percent{
        width:90vw;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left:4vw;
        margin-right:4vw;
        
    }
    .section-divided-by-2-elements-60-percent h1{
        /* width: 100%;
        height: auto;
        font-family: 'Futura';
        font-style: oblique;
        margin-left:2vw; */
        width: 100%;
        height: auto;
        font-family: 'Futura';
        font-style: oblique;
        font-size: 23px;
        margin-left: 1vw;
        margin-top: 3rem;
    }

    .section-divided-by-2-elements-60-percent p{
        width: 100%;
        height: auto;
        font-family: 'Futura';
        margin-left:1vw;
        /* font-style: oblique; */
    }

    .section-divided-by-2-elements-60-percent img{
        width: 100%;
        height: auto;
        margin-left: 0rem;
    }
}